src/IO.Dtos/Xsd/BasicMessageSettingsCase.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:dkm="http://www.w3.org/2001/dkm.xsd"
  targetNamespace="http://www.w3.org/2001/dkm.xsd"
  elementFormDefault="qualified"
  >

  <xsd:include schemaLocation="Message.xsd" />

  <xsd:complexType name="MessageSettingsCase" >    
    <xsd:all>
      <xsd:element name="message" type="dkm:Message" maxOccurs="1" />
    </xsd:all>
    <xsd:attribute name="id" type="xsd:string" />
    <xsd:attribute name="defaultLanguage" type="xsd:string" />
  </xsd:complexType>


</xsd:schema>
